.editor {
  @apply absolute top-0 left-full w-full h-full flex flex-col;
  transition: 0.5s;

  &_opened {
    @apply left-0;
  }

  &__content {
    @apply flex flex-col justify-center items-center h-full px-[21px];
  }

  &__text-type {
    @apply text-white opacity-50 text-[32px] leading-normal mb-1.5 text-center;
  }

  &__text-info {
    @apply text-[#b9b9b9] text-[14px] leading-normal mb-[18px] text-center;
  }

  &__text {
    @apply opacity-0 rounded-3xl p-5 w-full resize-none outline-none text-center text-[#D9D9D9] text-[14px] leading-normal max-h-[50vh];
    background: rgba(217, 217, 217, 0.1);
    transition: opacity 0.5s ease-in-out;

    &_shown {
      @apply opacity-100;
    }
  }

  &__buttons {
    @apply pb-12 flex mx-auto;
  }
}
